doctype
html(lang="en")
  meta(charset='UTF-8')
  head
    title= title
    style.
      a {
        /*display: block;*/
        font-size: 20px;
        color: #6a6352;
        text-decoration: none;
        margin: 10px 0;
      }
      a:hover {
        text-decoration: underline;
        background: #6a6352;
        color: white;
      }
      img {
        vertical-align: text-bottom;
      }
      p {
        margin: 0;
        border-bottom: 1px solid lightgray;
        height: 50px;
        line-height: 50px;
      }
      p:hover {
        background: #E5F3FF;
      }
    //link(rel="icon", type="image/x-icon")
  body
    each item in fileList
      p
        //img(src=item.icon)
        a(href=item.link, title=item.name) [#{item.type}]#{item.name}

